" Useful settings for large codebases
let g:ctrlp_regexp = 1
let g:ctrlp_max_depth = 40
let g:ctrlp_user_command = ['.git/', 'cd %s && git ls-files']

" http://stackoverflow.com/questions/2182427/right-margin-in-vim
function! s:ToggleColorColumn()
    if s:color_column_old == 0
        let s:color_column_old = &colorcolumn
        windo let &colorcolumn = 0
    else
        windo let &colorcolumn=s:color_column_old
        let s:color_column_old = 0
    endif
endfunction

if exists('+colorcolumn')
  set colorcolumn=81
  let s:color_column_old = 0
  nnoremap <Leader>m :call <SID>ToggleColorColumn()<cr>
endif
